<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.rong.mapper.MsgMapper">
	<insert id="insertMsg" >
		INSERT INTO
		message(userid,sendtime,objectname,content,channelType) VALUES
		(#{userid},#{sendtime},#{objectname},#{content},#{channelType})
	</insert>
</mapper>